* {
  box-sizing: border-box;
  /* font family not working */
  font-family: 'hobbitonbrushhand';
  color: white;
  background-color: #3e3e3e;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#body {         
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

body > nav {
  background-color: #3e3e3e;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  height: 50px;
  width: calc(100% + 12px);
  align-items: center;
}

.welcome {
  position: absolute;
  display: flex;
  font-size: 50px;
  color: #3b5e26;
  background-color: transparent;
}

main img{
  height: 900px;
  width: calc(100% + 12px);
}
