<!-- where we will show the place journeyed and the corresponding picture -->
<%- include('../partials/header') %>

<section id="show-page">
    <div>Where: </div>
    <div><%= journey.where %> </div>
    <!-- show pic here -->
    <!-- <%= image variable %>  -->
</section>