<!-- where we will show the place journeyed and the corresponding picture -->
<%- include('../partials/header') %>
<section id="show-page">
</section>

<% journeys.forEach(journey => { %>

        <a href="/journeys/<%= journey._id %>"><%= journey.where%></a>
        <!-- show pic here -->
        <!-- image variable -->

   <% }) %>